<div class="form-group">
  <label
    >Email
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="email"
      #emailNgModel="ngModel"
      appEmailValidator
      [class.is-invalid]="
        (emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors
      "
      required
    />
  </label>
  <span
    class="invalid-feedback"
    *ngIf="
      (emailNgModel.touched || emailNgModel.dirty) &&
      emailNgModel.hasError('invalidEmailDomain')
    "
  >
    Invalid email domain
  </span>
  <span
    class="invalid-feedback"
    *ngIf="
      (emailNgModel.touched || emailNgModel.dirty) &&
      emailNgModel.hasError('maxLength')
    "
  >
    Email too long
  </span>
  <span
    class="invalid-feedback"
    *ngIf="
      (emailNgModel.touched || emailNgModel.dirty) &&
      emailNgModel.hasError('invalidEmailDomain')
    "
  >
    Please enter a valid email address
  </span>
</div>
